In [5]:
x = 17

In [6]:
print(x)

17

In [8]:
x

17

In [3]:
import pandas as pd
df = pd.read_csv('liverpool.csv')

In [4]:
df

              Name Position  Born  Number Nationality
0  Roberto Firmino       FW  1991   no. 9      Brazil
1       Sadio Mane       FW  1992  no. 10     Senegal
2    Mohamed Salah       FW  1992  no. 11       Egypt
3        Joe Gomez       DF  1997  no. 12     England
4   Alisson Becker       GK  1992  no. 13      Brazil